* {
  font-family:Helvetica;
  box-sizing: border-box;
  color:white;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#box {
  padding: 50px 100px 5px 100px;
}

p {
  padding: 10px;
}

#menu {
  padding: 5px 100px 5px 100px;
  background-color: rgb(43, 43, 43);
  text-align: center;
}

#menu ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#menu ul li {
  position: relative;
  list-style: none;
  text-align: center;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

#menu ul li a {
  padding: 6px 10px 6px 10px;
  border-radius: 3px;
  transition: all 0.3s;
  display: inline-block; 
  text-decoration: none;
}

#menu ul li a:hover, #menu ul li a:focus, #menu ul li a:active {
  background: #3dac59;
  color:white;
}

#menu ul li > .submenu {
  display: none;
  position: absolute;
  top: 24px;
  width: 200px;
  left: 0px;
  background: rgb(43, 43, 43);
}

#menu ul li:hover > ul {
  display: block;
}

#_Title {
  color:white;
  font-weight: bold;
  font-family: "courier new", monospace;
  font-size: 35px;
}
