/* General / Tags attributes */

* {
  font-family:Helvetica;
  box-sizing: border-box;
  color:white;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

/*h1 {
  color: white;
  font-style: italic;
  font-family: Helvetica, monospace;
  text-align: center;
}*/

h2 {
  font-size: 28px;
  color: #3dac59;
  text-decoration: underline;
  text-decoration-color: #3dac59;
  text-align: center;
}

p {
  font-size: 20px;
  text-indent: 50px;
  padding: 0 10px 0 10px;
}

/* Classes */

.box_for_general_text {
  padding: 20px 50px 20px 50px;
  font-size: 20px;
  text-align: center;
}

.img_top {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 210px;
  background-image: linear-gradient(to bottom, transparent 0%, black 95%), url("imagem_foda_amigos_minecraft_cortada.png");
  background-position: center;
}

.texto_titulo_primeiro {
  font-family: "Times", monospace; 
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding: 0 20px 0 20px
}

.container {
  padding: 10px 30px 10px 30px;
}

.column {
  float: left;
  width: 50%;
}

.sub_column {
  float: left;
  width: 95%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Ids */

#menu {
  padding: 5px 100px 8px 100px;
  font-size: 20px;
  background-color: rgb(43, 43, 43);
  text-align: center;
}

#menu ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#menu ul li {
  position: relative;
  list-style: none;
  text-align: center;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

#menu ul li a {
  padding: 6px 10px 6px 10px;
  border-radius: 3px;
  transition: all 0.3s;
  display: inline-block; 
  text-decoration: none;
}

#menu ul li a:hover, #menu ul li a:active /*, #menu ul li a:focus, */ {
  background: #3dac59;
  color:white;
}



#menu ul li > .submenu {
  display: none;
  position: absolute;
  top: 28px;
  width: 150px;
  left: 0px;
  background: rgb(43, 43, 43);
}

#menu ul li:hover > ul {
  display: block;
}

#_Title {
  color:white;
  font-weight: bold;
  font-family: "courier new", monospace;
  font-size: 35px;
}